/*Color of the buttons*/

.btn-blue-light1{
    background-color:#e1f0fd;
    border-radius: 5px;
    border: solid 0px;
    width: 80px;
    height: 30px;
    transition: opacity 0.3s ease;
}

.btn-blue-light2{
    background-color:#c7e1fb;
    border-radius: 5px;
    border: solid 0px;
    width: 80px;
    height: 30px;
    transition: opacity 0.3s ease;
}

.btn-blue-light3{
    background-color:#93c3f7;
    border-radius: 5px;
    border: solid 0px;
    width: 80px;
    height: 30px;
    transition: opacity 0.3s ease;
}

/*Opacity of the buttons*/
.btn-blue-light1:hover {
    opacity: 0.5; /* Reducción de la opacidad al pasar el cursor */
}

.btn-blue-light2:hover {
    opacity: 0.5; /* Reducción de la opacidad al pasar el cursor */
}

.btn-blue-light3:hover {
    opacity: 0.5; /* Reducción de la opacidad al pasar el cursor */
}